.start {
    margin: auto;
    text-align: center;
    margin-top: 10px;
}

.game {
    width: 600px;
    height: 228px;
    border-bottom: 1px solid black;
    margin: auto;
    background-image: url("https://img.freepik.com/vector-premium/paisaje-naturaleza-desierto-egipcio-dunas-arena_213110-716.jpg");
    background-size: 600px 230px;
}

.game2 {
    width: 600px;
    height: 228px;
    border-bottom: 1px solid black;
    margin: auto;
    background-image: url("https://p4.wallpaperbetter.com/wallpaper/199/399/760/artistic-minimalism-desert-hd-wallpaper-preview.jpg");
    background-size: 600px 230px;
}

.game3 {
    width: 600px;
    height: 228px;
    border-bottom: 1px solid black;
    margin: auto;
    background-image: url("https://gamerwall.pro/uploads/posts/2022-05/thumbs/1652497005_37-gamerwall-pro-p-pustinya-art-minimalizm-oboi-krasivo-52.png");
    background-size: 600px 230px;
}

.dino {
    width: 50px;
    height: 50px;
    background-image: url(./src/dino.png);
    background-size: 50px 50px;
    position: relative;
    top: 150px;
    left: 10px;
}


.dino2 {
    width: 50px;
    height: 50px;
    background-image: url(./src/dino2.png);
    background-size: 50px 50px;
    position: relative;
    top: 150px;
    left: 10px;
}


.cactus {
    width: 20px;
    height: 40px;
    background-image: url(./src/cac.png);
    background-size: 20px 40px;
    position: relative;
    top: 110px;
    left: 580px;
    animation: cactusMov 2s infinite linear;
}

.incr {
    text-align: center;
    left: 580px
}

input {
    background: none;
    border: 0px;
    text-align: center;
    font-weight: 700;
}

.life {
    opacity: 1;
}

.non-life {
    opacity: 0;
}

@keyframes cactusMov {
    0% {
        left: 580px;
    }

    100% {
        left: -20px;
    }
}


.jump {
    animation: jump 0.6s linear; 
}

@keyframes jump {
    0% {
        top: 150px;
    }

    30% {
        top: 30px;
        transform: rotate(360deg);
    }

    100% {
        top: 150px;
        transform: rotate(360deg);
    }
}